.delete_competed {
    width: 160px;
    height: 40px;
    color: #fff;
    background-color: darkred;
    margin-top: 24px;
    border-radius: 7px;
    transition: 0.5s;
    border: none;
    margin-left: 15px;
    margin-right: 15px;
}

.delete_all {
    width: 160px;
    height: 40px;
    color: #fff;
    background-color: darkred;
    margin-top: 24px;
    border-radius: 7px;
    transition: 0.5s;
    border: none;
    margin-left: 15px;
    margin-right: 15px;
    
}

.delete_all:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: red;
}
.delete_competed:hover {
    cursor: pointer;
    transform: scale(1.1);
    background-color: red;
}

